<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All USER</title>
    <link rel="stylesheet" href="/user.css" />
  </head>
  <body>
    <table>
      <tr>
        <th>id</th>
        <th>username</th>
        <th>email</th>
        <th>Edit deltail</th>
        <th>Delete user</th>
      </tr>
      <% for(user of users) { %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td>
          <form method="GET" action="/user/<%= user.id %>/edit">
            <button class="btn btn-table">Edit name</button>
          </form>
        </td>
        <td>
          <form method="get" action="/user/<%=user.id%>/delete">
            <button class="btn btn-table delete">Delete</button>
          </form>
        </td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
